body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-weight: bold;
  color: #c62828;
}

.primary {
  background: #e53935;
  color: #fff;
  border: none;
  padding: 8px 14px;
}

.outline {
  border: 1px solid #e53935;
  background: none;
  color: #e53935;
  padding: 8px 14px;
}

.hero {
  position: relative;
}

.hero-img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  right: 10%;
  top: 25%;
  color: white;
  max-width: 450px;
}

.section {
  padding: 60px 40px;
  text-align: center;
}

.gray {
  background: #f6f6f6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
}

.card, .img-card {
  background: white;
  padding: 20px;
  border-radius: 6px;
  justify-content: center;
}

.card img {
  width: 50px;
  margin-bottom: 10px;
}

.img-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.brands img {
  height: 40px;
  margin: 15px;
  animation: silde 15s linear infinite;
}

.brands{
    width: 100;
    overflow: hidden;
}

@keyframes slide{
    0% {transform: translateX(0);}
    100%{transform: translateX(-100%);}
}

.form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
}

footer {
  background: #111;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.why-choose-grid{
    display: grid;
    grid-template-columns: repeat(3,360px);
    gap: 32px;
    justify-content: center;
}

.why-card{
    width: 360px;
    height: 450px;
    background: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
}

.why-card image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}